# Questão 1

In [120]:
import pandas as pd
import requests
import json
from pandas import json_normalize

#Grupos de pesquisa certificados 2019
#Link1

url = 'https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=36818'
GrupoDePesquisaCertificados = pd.read_csv(url, encoding = 'cp1252', sep = ',')
GrupoDePesquisaCertificados.head()

,INSTITUIÇÃO,GRUPO,LÍDER,ÁREA PREDOMINANTE,Unnamed: 4,Unnamed: 5
0,Instituto Federal de Educação Ciência e Tecnol...,Rede de Inovação Tecnológica de Sistemas Agrop...,Juliana Maria Nogueira Pereira,Agronomia,NaN,NaN
1,Instituto Federal de Educação Ciência e Tecnol...,Desenvolvimento Sustentável,Juliana Maria Nogueira Pereira,Ciência e Tecnologia de Alimentos,NaN,NaN
2,Instituto Federal de Educação Ciência e Tecnol...,Estudo de olerícolas orgânicas no Norte de Min...,Nelson Licínio Campos de Oliveira,Agronomia,NaN,NaN
3,Instituto Federal de Educação Ciência e Tecnol...,Grupo de Estudo e Pesquisas em Inovação do Val...,João Leandro Cássio de Oliveira,Administração,NaN,NaN
4,Instituto Federal de Educação Ciência e Tecnol...,Núcleo de estudo e pesquisa em aves e suínos,Wagner Azis Garcia de Araújo,Zootecnia,NaN,NaN

In [47]:
#Relação de pesquisadores 2019
#Link1

url = 'https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=36821'
RelacaoPesquisadores = pd.read_csv(url, encoding = 'cp1252', sep = ',')
RelacaoPesquisadores.head()

  Coordenadores de Projetos de Pesquisa Cadastrados  por Campus Unnamed: 1
0                               Nome do Coordenador                 Campus
1                          Alan Teixeira de Oliveira              Almenara
2                                  Alex Lara Martins              Almenara
3                                      Alfredo Costa              Almenara
4                             Daiane Prates Mendonça              Almenara

In [48]:
#Relação de projetos de pesquisa realizados 2019
#Link1

url = 'https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=36822'
RelacaoProjetos = pd.read_csv(url, encoding = 'cp1252', sep = ',')
RelacaoProjetos.head()

,Campus,Título,Nome Coordenador,
0,Almenara,Desenvolvimento de método analítico para deter...,Ednilton Moreira Gama,NaN
1,Almenara,Aprimorar é preciso: Pesquisa de percepção sob...,Alfredo Costa,NaN
2,Almenara,Produção de guias de estudo para o modelo de s...,Regina Mendes de Araújo,NaN
3,Almenara,Avaliação Gerencial em Administração Pública: ...,Dayane Patrícia Cunha de França,NaN
4,Almenara,Análise do Perfil Epidomiologia da Hanseníase ...,Leila Conceição de Paula Miranda,NaN

In [49]:
#Relação de projetos de pesquisa realizados 2019
#Link2

url = 'https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=36482'
ProjetosDeExtensao = pd.read_csv(url, encoding = 'cp1252', sep = ',')
ProjetosDeExtensao.head()

,Título,Coordenador,Campus,Período de Execução
0,Análise da qualidade da água para o consumo hu...,Roberta Pereira Matos,ALMENARA,De 10/06/2019 a 07/12/2019
1,Desenvolvendo o Empreendedorismo Local: Ações ...,Paulo Eduardo Ferreira dos Santos,ALMENARA,De 01/05/2019 a 01/10/2019
2,Desenvolvimento de atividades para demonstraçã...,Edimilson Alves Barbosa,ALMENARA,De 10/06/2019 a 07/12/2019
3,Resgate e valorização de sementes de Feijão-Ca...,Jose Maria Gomes Neves,ALMENARA,De 10/06/2019 a 07/12/2019
4,EDUCAÇÃO EM SAÚDE SOBRE DOENÇAS CRÔNICAS NÃO -...,Leila Conceicao de Paula Miranda,ALMENARA,De 13/06/2019 a 05/12/2019

Junção dos arquivos referentes aos links 1, 2, respectivamente, que contemplam os projetos.

In [115]:
NovaRelacaoProjetos1 = RelacaoProjetos
NovaRelacaoProjetos2 = ProjetosDeExtensao
NovaRelacaoProjetos1.dropna(how='any')
NovaRelacaoProjetos2.dropna(how='any')
novoDF = pd.concat([NovaRelacaoProjetos1, NovaRelacaoProjetos2], axis = 0, ignore_index = True)
novoDF

,Campus,Título,Nome Coordenador,,Coordenador,Período de Execução
0,Almenara,Desenvolvimento de método analítico para deter...,Ednilton Moreira Gama,NaN,NaN,NaN
1,Almenara,Aprimorar é preciso: Pesquisa de percepção sob...,Alfredo Costa,NaN,NaN,NaN
2,Almenara,Produção de guias de estudo para o modelo de s...,Regina Mendes de Araújo,NaN,NaN,NaN
3,Almenara,Avaliação Gerencial em Administração Pública: ...,Dayane Patrícia Cunha de França,NaN,NaN,NaN
4,Almenara,Análise do Perfil Epidomiologia da Hanseníase ...,Leila Conceição de Paula Miranda,NaN,NaN,NaN
...,...,...,...,...,...,...
610,TEÓFILO OTONI,Xadrez nas escolas - Desenvolvendo Habilidades...,NaN,NaN,Heverton Schimidt Souza,De 02/05/2019 a 31/10/2019
611,TEÓFILO OTONI,RUMO AO PÓDIO - Um curso intensivo de Matemáti...,NaN,NaN,Carlos Alberto Lopes dos Santos de Oliveira,De 01/05/2019 a 20/12/2019
612,TEÓFILO OTONI,Projeto Hâpó,NaN,NaN,Edimar da Rocha Pinto,De 04/11/2019 a 20/12/2019
613,TEÓFILO OTONI,"Pré-IFNMG: Meritocracia, Igualdade de Oportuni...",NaN,NaN,Carlos Alberto Lopes dos Santos de Oliveira,De 25/06/2019 a 20/12/2019
614,TEÓFILO OTONI,Orientação Profissional: Um Olhar para o Futuro,NaN,NaN,Paula Pontes do Espirito Santo,De 30/04/2019 a 10/09/2019

In [123]:
novoDF_BACKUP = novoDF
novoDF_BACKUP.to_csv("novoDF_BACKUP.csv")
novoDF_BACKUP

,Campus,Título,Nome Coordenador,,Coordenador,Período de Execução
0,Almenara,Desenvolvimento de método analítico para deter...,Ednilton Moreira Gama,NaN,NaN,NaN
1,Almenara,Aprimorar é preciso: Pesquisa de percepção sob...,Alfredo Costa,NaN,NaN,NaN
2,Almenara,Produção de guias de estudo para o modelo de s...,Regina Mendes de Araújo,NaN,NaN,NaN
3,Almenara,Avaliação Gerencial em Administração Pública: ...,Dayane Patrícia Cunha de França,NaN,NaN,NaN
4,Almenara,Análise do Perfil Epidomiologia da Hanseníase ...,Leila Conceição de Paula Miranda,NaN,NaN,NaN
...,...,...,...,...,...,...
610,TEÓFILO OTONI,Xadrez nas escolas - Desenvolvendo Habilidades...,NaN,NaN,Heverton Schimidt Souza,De 02/05/2019 a 31/10/2019
611,TEÓFILO OTONI,RUMO AO PÓDIO - Um curso intensivo de Matemáti...,NaN,NaN,Carlos Alberto Lopes dos Santos de Oliveira,De 01/05/2019 a 20/12/2019
612,TEÓFILO OTONI,Projeto Hâpó,NaN,NaN,Edimar da Rocha Pinto,De 04/11/2019 a 20/12/2019
613,TEÓFILO OTONI,"Pré-IFNMG: Meritocracia, Igualdade de Oportuni...",NaN,NaN,Carlos Alberto Lopes dos Santos de Oliveira,De 25/06/2019 a 20/12/2019
614,TEÓFILO OTONI,Orientação Profissional: Um Olhar para o Futuro,NaN,NaN,Paula Pontes do Espirito Santo,De 30/04/2019 a 10/09/2019

# Questão 2

In [103]:
url = 'https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/vdpb/gasolina-aviacao/vendas-gasolina-aviacao-municipio-2019.csv'
vendas2019 = pd.read_csv(url, sep = ';')
vendas2019.head()

      ANO    ESTADO  CÓDIGO IBGE      Município     Vendas
0  2019.0  Rondônia    1100023.0      ARIQUEMES    50.165
1  2019.0  Rondônia    1100049.0         CACOAL   175.000
2  2019.0  Rondônia    1100122.0      JI-PARANA       459
3  2019.0  Rondônia    1100189.0  PIMENTA BUENO    10.000
4  2019.0  Rondônia    1100205.0    PORTO VELHO    53.119

In [100]:
url = 'http://www.anp.gov.br/arquivos/dadosabertos/vc/vendas-gasolinaaviacao-municipio-2018.csv'
vendas2018 = pd.read_csv(url, encoding = 'cp1252', sep = ';')
vendas2018.head()

      ANO    ESTADO  CODIGO IBGE         Municipio    Vendas
0  2018.0     Acre     1200203.0   CRUZEIRO DO SUL  258000.0
1  2018.0     Acre     1200302.0             FEIJO   85000.0
2  2018.0     Acre     1200401.0        RIO BRANCO  415000.0
3  2018.0     Acre     1200450.0  SENADOR GUIOMARD   20000.0
4  2018.0  Alagoas     2704302.0            MACEIO   45610.0

In [104]:
url = 'http://www.anp.gov.br/arquivos/dadosabertos/vc/vendas-gasolinaaviacao-municipio-2017.csv'
vendas2017 = pd.read_csv(url, encoding = 'cp1252', sep = ';')
vendas2017.head()

    ANO    ESTADO  CÓDIGO IBGE         Município  Vendas
0  2017     Acre       1200203   CRUZEIRO DO SUL  194000
1  2017     Acre       1200302             FEIJO  110000
2  2017     Acre       1200401        RIO BRANCO  235000
3  2017     Acre       1200450  SENADOR GUIOMARD  200000
4  2017  Alagoas       2701506      CAMPO GRANDE     395

In [122]:
vendasTrienio = pd.concat([vendas2017, vendas2018, vendas2019], axis = 0, ignore_index = True)
vendasTrienio

,ANO,ESTADO,CÓDIGO IBGE,Município,Vendas,CODIGO IBGE,Municipio
0,2017.0,Acre,1200203.0,CRUZEIRO DO SUL,194000,NaN,NaN
1,2017.0,Acre,1200302.0,FEIJO,110000,NaN,NaN
2,2017.0,Acre,1200401.0,RIO BRANCO,235000,NaN,NaN
3,2017.0,Acre,1200450.0,SENADOR GUIOMARD,200000,NaN,NaN
4,2017.0,Alagoas,2701506.0,CAMPO GRANDE,395,NaN,NaN
...,...,...,...,...,...,...,...
11117,2019.0,Goiás,5220207.0,SAO MIGUEL DO ARAGUAIA,213.000,NaN,NaN
11118,2019.0,Goiás,5220702.0,SITIO D'ABADIA,10.000,NaN,NaN
11119,2019.0,Distrito Federal,5300108.0,BRASILIA,159.119,NaN,NaN
11120,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11121,NaN,NaN,NaN,NaN,NaN,NaN,NaN

É necessário responder a pergunta: o que é JSON e quais as vantagens dele sobre o CSV?

Arquivos com extensão .csv são usado de modo geral apenas para a exportação e importação dos dados. Arquivos com extensão .json, além de serem usados para importação e exportação, são usados em solução de troca de dados na comunição em rede - serviços WEB - envolvemdo clientes e aplicações de maneira bidirecional.